:root{
    --primary-color: #000000;
    --danger-color: #f44336;
    --success-color: #4CAF50;
    --warning-color: #ff9800;
    --info-color: #2196F3;
    --color-light: #f366de;
    --color-dark: #000000;
    --color-background: #ffb8e3;

    --card-border-radius1: 2rem;
    --border-radius2: 0.4rem;
    --border-radius3: 0.8rem;

    --card-padding:1.8rem;
    --padding:1.2rem;

    --box-shadow: 0 4px 8px #ffb8e3;
    --font-family: 'Arial, sans-serif';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    appearance: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}
html{
    font-size: 12px;
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-dark);
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);}
h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
h5{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
small{
    font-size: 1rem;
}
.profile-photo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: var(--color-light);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    z-index: 1000;
}
